/* src/components/LoginForm.css */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #f0f0f0, #d3d3d3); */


  background: #28378f;
    background: linear-gradient(318deg, rgba(40, 56, 143, 0.556) 0%, rgba(220, 174, 76, 0.868) 98%);
}

.login-form {
  background-color: white;
  background: transparent;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
  padding: 30px;
  border-radius: 12px;
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.2); */
  width: 320px;
  display: flex;
  flex-direction: column;
   margin-top: 7rem;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: 600;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #2196f3;
  outline: none;
}

.login-form button {
  padding: 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #1976d2;
}

.register-link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.register-link a {
  color: #1976d2;
  text-decoration: none;
  font-weight: 500;
}
